.rectangle640 {

  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "OpenSans";
  position: relative;
}

.rectangle1237 {
  height: 48px;

  background: #1b1b26;
  border-radius: 12px 12px 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle1237a {
  height: 48px;
  display: flex;
  justify-content: center;
  color: #1b1b26;
}

#qrcode {
  margin: -20px;
  min-height: 256px;
}

.rectangle1237c {
  height: 48px;

  background: #1b1b26;
  border-radius: 0 0 12px 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.help-contact-white {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 210px;
}

.open-passhub-tab {
  cursor: pointer;
}